# Multivariate Time Series
Multivariate time series adalah rangkaian data di mana setiap titik data terdiri dari beberapa variabel yang diamati atau diukur secara bersamaan dalam interval waktu yang berurutan. Berbeda dengan univariate time series, kita tidak hanya melihat satu variabel pada satu waktu tertentu, tetapi sejumlah variabel yang diamati secara bersamaan. Ini memungkinkan kita untuk memahami bagaimana variabel-variabel tersebut berinteraksi satu sama lain seiring waktu.

Dengan kata lain, multivariate time series adalah cara untuk menganalisis dan memodelkan hubungan kompleks antara berbagai variabel dalam rentang waktu tertentu. Ini memberikan insight yang lebih mendalam tentang dinamika sistem yang diamati, memungkinkan kita untuk melihat bagaimana perubahan dalam satu variabel dapat memengaruhi variabel lainnya.

In [1]:
import pandas as pd
import tensorflow as tf

Pada kasus ini, kita akan menggunakan sebuah dataset berisikan pengukuran konsumsi daya listrik di satu rumah dengan tingkat pengambilan sampel satu menit selama hampir dua tahun. Tersedia berbagai besaran listrik dan beberapa nilai subpengukuran. Anda dapat mengunduh data pada tautan berikut: [Household Electric Power](https://www.kaggle.com/datasets/uciml/electric-power-consumption-data-set) atau langsung mengakses melalui Google Drive yang sudah disediakan menggunakan kode berikut.

In [2]:
df = pd.read_csv('https://drive.google.com/uc?id=1AZRfFoyekqSYpri5183RmJjciRGz_ood', sep=',',
                     infer_datetime_format=True, index_col='datetime', header=0)
df

C:\Users\HP\AppData\Local\Temp\ipykernel_47476\513246612.py:1: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df = pd.read_csv('https://drive.google.com/uc?id=1AZRfFoyekqSYpri5183RmJjciRGz_ood', sep=',',

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
datetime,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...
2007-02-14 17:19:00,0.636,0.140,241.16,2.6,0.0,0.0,0.0
2007-02-14 17:20:00,0.552,0.000,240.46,2.2,0.0,0.0,0.0
2007-02-14 17:21:00,0.538,0.000,239.74,2.2,0.0,0.0,0.0
2007-02-14 17:22:00,0.524,0.000,241.08,2.2,0.0,0.0,0.0
2007-02-14 17:23:00,0.544,0.000,241.62,2.2,0.0,1.0,0.0